@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-image: url('photos/dotted-back-min.jpg');
  background-size: cover; 
  object-fit: fill;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
}

h1 {
  margin: 0;
}

.App {
  font-family: 'Inter';
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.shadow {
  box-shadow: 0px 2px 7.5px 0px rgba(0, 0, 0, 0.08);
}


